<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578352914357-mqhbdiirtdcq049327r2m4qdh535jc3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578352914357-mqhbdiirtdcq049327r2m4qdh535jc3j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>578352914357-bkjlv1t0scf07bunvmg8fuc3vblb2j8m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA286IUn6lu70V_LWe8xz_DE9Gw3k5bBPg</string>
	<key>GCM_SENDER_ID</key>
	<string>578352914357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ufa.stylemixthemes.motors</string>
	<key>PROJECT_ID</key>
	<string>osmania-9e58a</string>
	<key>STORAGE_BUCKET</key>
	<string>osmania-9e58a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578352914357:ios:b206582dda01ae9ee8c3fc</string>
	<key>DATABASE_URL</key>
	<string>https://osmania-9e58a-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>